pkgbase = dwm
	pkgdesc = A dynamic window manager for X
	pkgver = 6.2
	pkgrel = 1
	url = http://dwm.suckless.org
	install = dwm.install
	arch = i686
	arch = x86_64
	license = MIT
	depends = libx11
	depends = libxinerama
	depends = libxft
	depends = freetype2
	depends = dmenu
	depends = tmux
	depends = st
	options = zipman
	source = http://dl.suckless.org/dwm/dwm-6.2.tar.gz
	source = config.h
	source = dwm.desktop
	md5sums = f0b6b1093b7207f89c2a90b848c008ec
	md5sums = 2f68073631e7da2765398cf5cfb6ce8f
	md5sums = 939f403a71b6e85261d09fc3412269ee

pkgname = dwm

